{
    "CN": "{{ ansible_hostname }}",
    "hosts": [
        "{{ ansible_hostname }}",
        "{{ ansible_eth0.ipv4.address }}"
    ],
    "key": {
        "algo": "ecdsa",
        "size": 256
    },
    "names": [
        {
            "C": "US",
            "L": "CA",
            "ST": "San Francisco"
        }
    ]
}
