apiVersion: kubeadm.k8s.io/v1alpha1
kind: MasterConfiguration
#kubernetesVersion: v1.9.1
networking:
  podSubnet: 10.244.0.0/16
cloudProvider: aws
#  serviceSubnet: K8SHA_SVC_CIDR
apiServerCertSANs:
{% for host in groups['tag_kubernetes_master_new'] %}
- {{ hostvars[host]['ec2_private_dns_name'] }}
{% endfor %}
{% for host in groups['tag_kubernetes_master_new'] %}
- {{ hostvars[host]['ec2_private_ip_address'] }}
{% endfor %}
etcd:
  endpoints:
{% for host in groups['tag_kubernetes_master_new'] %}
  - http://{{ hostvars[host]['ec2_private_ip_address'] }}:2379
{% endfor %}
#token: K8SHA_TOKEN
#tokenTTL: "0"
endpoint-reconciler-type: lease