# paths
# path.data: "/srv/elasticsearch/data"
path.data: "/var/lib/elasticsearch/data"

# additional configuration
indices.fielddata.cache.size: "30%"
indices.queries.cache.size: "30%"
network.host: 0.0.0.0

# AWS discovery
#cloud.aws.region: "us-east-1"

plugin.mandatory: "discovery-ec2, repository-s3"

cluster.name: "testcluster"

node.name: "testcluster-node-{{ inventory_hostname }}"
node.master: false
node.data: true
node.ingest: true

#discovery.type: "ec2"
discovery.zen.hosts_provider: "ec2"
discovery.ec2.groups: "sg-29dc365e,sg-c92ec4be"
discovery.zen.ping_timeout: "5s"
discovery.ec2.availability_zones: "us-east-1e"
discovery.zen.ping.unicast.hosts: "{{ groups.tag_Env_elasticsearch | join_es_hosts(port) | join(",") }}"
discovery.zen.minimum_master_nodes: "1"
#discovery.zen.ping.multicast.enabled: false

network.publish_host: "{{ inventory_hostname }}"
# action.auto_create_index: .security,.monitoring*,.watches,.triggered_watches,.watcher-history*
xpack.security.enabled: false

