input {
  beats {
    port => 5000
    type => "syslog"
  }
}

filter {
  if [type] == "syslog" {
    grok {
      match => { "message" => "%{SYSLOGBASE2} %{GREEDYDATA:syslog_message}" }
      add_field => [ "received_at", "%{@timestamp}" ]
      remove_field => [ "message" ]
    }

    if [program] =~ /json__/ {
      grok {
        match => { "program" => "json__%{DATA:container_name}__%{DATA:container_id}$" }
        remove_field => [ "program" ]
      }

      json {
        source => "syslog_message"
        target => "params"
        remove_field => [ "syslog_message" ]
      }
    }

    date {
      match => [ "timestamp8601", "ISO8601" ]
    }
  }

  if [type] == "elasticsearch_log" {
    grok {
      match => { "message" => "\[%{TIMESTAMP_ISO8601:timestamp}\]\[%{LOGLEVEL:loglevel}\s*\]\[%{DATA:action}\s*\] \[%{DATA:node}\]%{GREEDYDATA:extra}" }
      add_field => [ "received_at", "%{@timestamp}" ]
      add_field => [ "received_from", "%{host}" ]
    }

    date {
      match => [ "timestamp", "MMM  d HH:mm:ss", "MMM dd HH:mm:ss" ]
    }
  }

  if [type] == "nginx_access" {
    grok {
      match => { "message" => "%{COMBINEDAPACHELOG}+%{GREEDYDATA:extra_fields}" }
      overwrite => [ "message" ]
      add_field => [ "received_at", "%{@timestamp}" ]
      add_field => [ "received_from", "%{host}" ]
    }

    mutate {
      convert => ["response", "integer"]
      convert => ["bytes", "integer"]
      convert => ["responsetime", "float"]
    }

    geoip {
      source => "clientip"
      target => "geoip"
      add_tag => [ "nginx-geoip" ]
    }

    date {
      match => [ "timestamp" , "dd/MMM/YYYY:HH:mm:ss Z" ]
      remove_field => [ "timestamp" ]
    }

    useragent {
      source => "agent"
    }
  }
}

output {
  elasticsearch {
    hosts => [{{ hosts | join_es_hosts(port) | join(",") }}]
    index => "ops-tools-logs-%{+xxxx-ww}"
    document_type => "%{[@metadata][type]}"
  }
}
