input {
  file {
    path => "/mnt/logs/lmserver.log"
    start_position => "beginning"
  }
}

output {
  elasticsearch {
    hosts => ["172.100.3.86:9200"]
    index => "{{ansible_eth0.ipv4.address}}"
  }
  stdout { codec => rubydebug }
}

test: "{{ groups.tag_tmp_elasticsearch | join_es_hosts(port) | join(",") }}"
